/*版型*/
.w{
	width:87.5rem;
	margin: 0 auto;
	
}
bady{
	background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.styleFont{
	font-size: 1.375rem;
	font-variant:normal;
	transition: all 0.4s;/*字体动画*/
	color: darkblue;
}
.styleFont:hover{
	transform: scale(1.2);/*字体放大1.2倍*/
}
.fl{
	float: left;
	color: darkmagenta;
}
.fr {
	float: right;
	font-size: 1rem;
	transition: all 0.4s;
}
.fr ul li:hover{
	transform: scale(1.2);
}
.by-name{
	font-size: 1.125rem;
	color: pink;
}
/*导航栏*/
.shortcut {
	height: 1.9375rem;
    line-height: 1.9375rem; 
    background-color: /* bisque */beige; 
	border-radius: 0.3125rem; /*圆角*/
	text-shadow: 0.3125rem 0.3125rem 0.375rem rgba(0,0,0,0.3);/*字体阴影*/
	box-shadow: 0.625rem 0.625rem 0.625rem 0.625rem rgba(0,0,0,0.3);/*盒子阴影*/
	font-family: YouYuan;/*幼圆字体*/
	
}
.shortcut ul li{
	float: left; /*左对齐*/
}
.icon {
	/*ioc模块*/
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	}
	
/* 选择所有的偶数的li */
.shortcut .fr ul li:nth-child(even) {
    height: 0.75rem;
    background-color: gray;
    margin: 0.5625rem 0.9375rem 0;/*行距*/
}


/*背景部分*/
.header{
	/* position: relative; */
	margin-top: 0.3125rem;
	height:50rem;
	width: 100rem;
	background:url(../imgs/background_1.jpg) no-repeat;
	background-size: cover ;
	-webkit-background-size:cover ;
	background－position：center 0；
	border-radius: 0.375rem; /*圆角*/
}
.header .tiem-date{
	/* position: absolute; */
	/* margin-left: -200px; */
	/* width: 800px; */
	height: 9.375rem;
	/* padding: 20px 20px ; */
	/* margin: 8px 500px; */
	/* left: 200px; */
	/* background-color: pink; */
	color: #fad0c4;
	padding-top: 1.25rem;
	font-size: 1.875rem;
	text-shadow: 0.3125rem 0.3125rem 0.375rem rgba(0,0,0,0.3);/*字体阴影*/
	text-align: center;
}
.header .tiem-date .img-mc{
	margin-top:1.25rem;
	height: 7.5rem;
	background: url(../imgs/font_img.png) no-repeat;
	background-size: -webkit-calc(36%);
	background-position:top;
	transition: all 0.5s;
	transform-origin: center;
	
}
.img-mc:hover{
	transform: rotate(6deg);
}

.biglogo{
	margin-top: 3.18rem;
	/* background-color: palegoldenrod; */
	height: 12.5rem;
	border-radius: 0.3125rem; /*圆角*/
	text-shadow: 0.3125rem 0.3125rem 0.375rem rgba(0,0,0,0.3);/*字体阴影*/
	box-shadow: 0.625rem 0.625rem 0.625rem 0.625rem rgba(0,0,0,0.3);/*盒子阴影*/
}
.logo1{
	float: left;
	height: 12.5rem;
	width: 31.25rem;
	background-image: url(../imgs/logo2.png) ;
	background-position: -100px -80px;
	background-size: cover;
	border-radius: 0.625rem; /*圆角*/
	box-shadow: 0.625rem 0.625rem 0.625rem 0.625rem rgba(0,0,0,0.3);/*盒子阴影*/
	border-top: 3px solid #e2e68f;

}
.logo1 p{
	margin-top: 115px;
	font-size: 18px;
	color: #ffff97;
	/* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); */
	 background-blend-mode: multiply;
	font-family: SongTi;
	border: 1px solid #e2e68f;
	border-radius: 20px; /*圆角*/
	text-shadow: 0.3125rem 0.3125rem 0.375rem rgba(170, 244, 255, 0.3);/*字体阴影*/
	text-align: center;
}
.logo2{
	float: left;
	height: 12.5rem;
	width: 31.25rem;
	/* background-color: #55A532; */
	border-radius: 0.625rem; /*圆角*/
	box-shadow: 0.625rem 0.625rem 0.625rem 0.625rem rgba(0,0,0,0.3);/*盒子阴影*/
	border-top: 3px solid #ff0000;
	
}
.logo2 img{
	width: 150px;
	/* 顺时针旋转45度 */
	/* transform: rotate(45deg); */
	border-radius: 50%;
	border: 3px solid skyblue;
	/* 过渡写到本身上，谁做动画给谁加 */
	transition: all 0.3s;
	/* margin-left:480px; */
	margin: 30px 180px;
}
.logo2 img:hover{
	transform:rotate(360deg) scale(1.5);
}
.bigBox{
	
	height: 18.75rem;
	background-color: #000000;
}

